appname: "Eat a Brick Radio"
layout: "main"
charset: "UTF-8"
template: "template_toolkit"
logger: console
log: debug
session: simple
show_errors: 1
warnings: 0
startup_info: 0

engines:
  template_toolkit:
    encoding: utf8
    ANYCASE: 1
    TRIM: 1
    PRE_CHOMP: 2
    POST_CHOMP: 2

news_path: /var/radio/news/
stream_uri: http://localhost:8000/radio.ogg
admin_password: awesome
queue_keep: 1
queue_size: 5
