<!DOCTYPE html>
<html>
  <head>
    <title>Eat a Brick Radio</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="header">
      <div id="playing"><% include 'current.tt' %></div>
      <img src="/bricky.png" alt="bricky" />
      <h1>Eat a Brick Radio</h1>
      <% include 'nav.tt' %>
    </div>
    
    <div id="body">
      <ul id="flash">
        <% foreach message in session.flash.keys %>
          <li class="<% session.flash.item(message) %>"><% message %></li>
          <% session.flash.delete(message) %>
        <% end %>
      </ul>
      
      <% content %>
    </div>
  </body>
</html>
