<!DOCTYPE html>
<html>
  <head>
    <title>Eat a Brick Radio</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-ui.min.js"></script>
    <script type="text/javascript">
      var current = {};
      var max_timeout = 5000;

      function update_meta_info() {
        $.get('/current', function(song) {
          if (song.uri != current.uri) {
            current = song;

            // animation for song changes
            $('#playing').stop();
            $('#playing').fadeOut(250, function() {
              // update elements
              $('#playing a').attr('href', '/songs/' + song.uri);
              $('#playing img').attr('src', song.image);
              $('#title').text(song.title);
              $('#artist').text(song.artist);
              $('#album').text(song.album);

              // reapper
              $('#playing').fadeIn(250);
            });

          }

          // set playback bar
          var bar = $('#time span');
          bar.width((song.pos / song.length * 100) + '%');

          // animate playback bar
          var timeout = (song.length - song.pos) * 1000;
          bar.stop();
          bar.animate({width: '100%'}, timeout, 'linear');

          // set next update
          if (timeout > max_timeout) timeout = max_timeout;
          setTimeout('update_meta_info()', timeout);
        });
      }

      $(document).ready(function() {
        update_meta_info();
      });
    </script>
  </head>

  <body>
    <div id="header">
      <div id="playing"><% include 'current.tt' %></div>
      <img src="/bricky.png" alt="bricky" />
      <h1>Eat a Brick Radio</h1>
      <% include 'nav.tt' %>
    </div>
    
    <div id="body">
      <ul id="flash">
        <% foreach message in session.flash.keys %>
          <li class="<% session.flash.item(message) %>"><% message %></li>
          <% session.flash.delete(message) %>
        <% end %>
      </ul>
      
      <% content %>
    </div>
  </body>
</html>
