<!DOCTYPE html>
<html>
  <head>
    <title>Eat a Brick Radio</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="header">
      <div id="playing">
        <% if current %>
          <a href="<% current.uri %>">
            <img src="<% current.uri %>.jpg" alt="cover" />
            <p><% current.title %></p>
            <p><% current.artist %></p>
            <p><% current.album %></p>
          </a>
        <% else %>
          <p>Not playing</p>
        <% end %>
      </div>
      <h1>Eat a Brick Radio</h1>
      <% include '_nav.tt' %>
    </div>
    
    <div id="body">
      <ul id="flash">
        <% foreach message in session.flash.keys %>
          <li class="<% session.flash.item(message) %>"><% message %></li>
          <% session.flash.delete(message) %>
        <% end %>
      </ul>
      
      <% content %>
    </div>
  </body>
</html>
