<% macro link(uri, text) block -%>
  <% current = '' -%>
  <% current = 'current' if request.path_info == uri -%>
  <li class="<% current %>"><a href="<% uri %>"><% text %></a></li>
<% end -%>

<ul id="navigation">
  <% link('/', 'News') %>
  <% link('/songs', 'Songs') %>
  <% if session.user %>
    <% link('/upload', 'Upload') %>
    <% link('/queue', 'Queue') %>
    <% link('/logout', 'Log out') %>
  <% else %>
    <% link('/login', 'Log In') %>
  <% end %>
</ul>
