<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Last Played</td>
      <% if custom %><td><% custom.header %></td><% end %>
    </tr>
  </thead>
  <tbody>
    <% foreach song in songlist %>
      <tr>
        <td><% song.id %></td>
        <td><% song.title %></td>
        <td><% song.last_played %></td>
        <% if custom %><td><% custom.data.item(song.id) %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
