<div id="albumroll">
  <% foreach album in albums %>
    <div class="album">
      <a href="/songs/<% album.id %>">
        <img src="/songs/<% album.id %>.jpg" alt="<% album.title %>" />
      </a>
      <p><% album.title %></p>
    </div>
  <% end %>
</div>

