<% foreach album in albums %>
  <div class="album">
    <a href="/songs/<% album.uri %>">
      <img src="/songs/<% album.uri %>.png" alt="<% album.title %>" />
      <p title="<% album.title %>"><% album.title %></p>
      <p title="<% album.artist %>"><% album.artist %></p>
    </a>
  </div>
<% end %>

