<h2>Log In</h2>
<form method="post" action="/login">
  <fieldset>
    <p>
      <label for="name">Name:</label>
      <input name="name" id="name" value="<% params.name %>" />
    </p>
    <p>
      <label for="pass">Password:</label>
      <input type="password" name="pass" id="pass" />
    </p>
    <input type="submit" value="Log In" />
  </fieldset>
</form>
