<h2>Log In</h2>
<form method="post" action="/login">
  <fieldset>
    <dl>
      <dt><label for="name">Name:</label></dt>
      <dd><input name="name" id="name" /></dd>
      <dt><label for="pass">Password:</label></dt>
      <dd><input type="password" name="pass" id="pass" /></dd>
    </dl>
    <input type="submit" value="Log In" />
  </fieldset>
</form>
