<h2>Request</h2>

<form method="get" action="/request">
  <fieldset>
    <p>
      Search for a song: 
      <input name="q" value="<% params.q %>" />
      <input type="submit" value="Go" />
    </p>
  </fieldset>
</form>

<% if params.q %>
  <h2>Results</h2>
  <% include _songtable.tt songs = schema.resultset('Song').search({
    title => { like => '%' _ params.q _ '%' }
  }) %>
<% end %>