<% if session.user %>
  <form method="post" action="<% album.uri %>">
    <fieldset>
      <input type="hidden" name="album" value="<% album.uri %>" />
      <input type="submit" name="enqueue" value="Enqueue Album" />
    </fieldset>
  </form>
<% end %>

<ul>
  <% foreach song in album.tracks %>
    <% next unless song %>
    <% include song.tt id = song.track, numbers = 1, image = 1, enqueue = 1 %>
  <% end %>
</ul>

