<h2>Upload</h2>
<p>
  Uploaded songs will be converted automatically the correct format.  You may
  also upload an archive full of songs and all of them will be processed and 
  added to the station.
</p>
<form method="post" action="/upload" enctype="multipart/form-data">
  <fieldset>
    <input type="file" name="upload" id="upload" />
    <input type="submit" value="Upload" />
  </fieldset>
</form>
