#volume {
  height: 10px;
  width: 50px;
  display: inline-block;
  background: #777;
}

#volume p {
  background: #000;
  height: 10px;
  width: 100%;
}

#metadata {
  padding: 10px;
  border-right: 1px solid #bbb;
  height: 100%;
  width: 150px;
}

#metadata p {
  margin: 0;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
