* {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, sans-serif;
}

#header {
  padding: 0.5em 0.5em 0 0.5em;
  background: #df0;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

#header h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#playing {
  float: right;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.2em;
}

#playing img {
  vertical-align: bottom;
}

#navigation {
  list-style: none;
}

#navigation li {
  display: inline;
  padding: 0em 2em;
  border: 1px solid #000;
}

#navigation li.current {
  border-bottom: 1px solid #fff;
  background: #fff;
}

#navigation li a {
  text-decoration: none;
  color: #000;
}

#navigation li:hover  {
  background: #fff;
}

#flash {
  text-align: center;
  list-style: none;
}

#flash li {
  margin: 0.5em 4em;
  padding: 0.5em;
  border: 1px solid #000;
  background: #ef8;
  font-weight: bold;
}

#flash li.error {
  background: #fdd;
}

#flash li.warning {
  background: #ff8;
}

#body {
  padding: 0 1em;
  background: #fff;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

fieldset {
  border: none;
  margin-bottom: 1em;
}

td fieldset {
  margin-bottom: 0;
}

fieldset dd {
  margin-bottom: 0.5em;
}

input[type=submit] {
  font-weight: bold;
  padding: 0.1em 0.5em;
}

td input[type=submit] {
  font-weight: normal;
  border: none;
  cursor: pointer;
  background: none;
  color: #14f;
  font-size: 1em;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
}

td {
  padding: 0.1em 0.5em;
  border: 1px solid #000;
}

thead td {
  font-weight: bold;
  background: #df0;
}

p {
  margin-bottom: 0.5em;
}

p.empty {
  font-style: oblique;
}

a {
  color: #14f;
  text-decoration: none;
}

