* {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, sans-serif;
}

#header {
  padding: 0.5em 0.5em 0 0.5em;
  background: #df0;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

#header h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#navigation {
  list-style: none;
  white-space: nowrap;
  overflow: visible;
  padding: 0;
}

#navigation li {
  display: inline;
  padding: 0em 2em;
  border: 1px solid #000;
}

#navigation li.current {
  border-bottom: 1px solid #fff;
  background: #fff;
}

#navigation li a {
  text-decoration: none;
  color: #000;
}

#navigation li:hover  {
  background: #fff;
}

#flash {
  text-align: center;
  list-style: none;
}

#flash li {
  margin: 0.5em 4em;
  padding: 0.5em;
  border: 1px solid #000;
  background: #ef8;
  font-weight: bold;
}

#flash li.error {
  background: #fdd;
}

#flash li.warning {
  background: #ff8;
}

#body {
  padding: 0 1em 1em;
  background: #fff;
  overflow: hidden;
}

h2 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 2em;
}

fieldset {
  border: none;
  margin-bottom: 1em;
}

td fieldset {
  margin-bottom: 0;
}

fieldset p {
  margin-bottom: 0.5em;
}

input[type=submit] {
  font-weight: bold;
  padding: 0.1em 0.5em;
}

td input[type=submit] {
  font-weight: normal;
  border: none;
  cursor: pointer;
  background: none;
  color: #14f;
  font-size: 1em;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
}

td {
  padding: 0.1em 0.5em;
  border: 1px solid #000;
}

thead td {
  font-weight: bold;
  background: #df0;
}

p {
  margin-bottom: 0.5em;
}

p.empty {
  font-style: oblique;
}

a {
  color: #14f;
  text-decoration: none;
}

caption.pager {
  font-size: 0.7em;
  text-align: right;
  caption-side: bottom;
}

textarea {
  display: block;
}

.postinfo {
  font-style: oblique;
  font-size: 0.7em;
  margin-top: 1em;
}

form.inline, form.inline fieldset {
  display: inline;
}

.post {
  margin-bottom: 2em;
}

input[readonly] {
  background: #eee;
}

#cover {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 1em 1em 0;
  border: 1px solid #333;
}

#playing {
  float: right;
  color: #000;
  font-weight: bold;
  font-size: 0.7em;
  text-decoration: none;
  margin-bottom: 0.2em;
  width: 50%;
}

#playing img {
  width: 50px;
  height: 50px;
  margin-left: 0.5em;
  border: 1px solid #000;
  float: right;
}

#playing p {
  color: #000;
  text-align: right;
  white-space: nowrap;
}

form dl {
  overflow: hidden;
}

form dt {
  clear: both;
  width: 10em;
  float: left;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  white-space: nowrap;
}

form dd {
  float: left;
  margin: 0 0 0.5em 0.5em;
}

.tempfile {
  border: 1px solid #333;
  margin: 1em 0;
  padding-top: 1em; 
}

.tempfile legend {
  font-weight: bold;
  margin-left: 1em;
  padding: 0 0.5em;
}

ul {
  padding-left: 2em;
}

li.error {
  color: #933;
}

ul.fakeol {
  list-style: none;
}

.album {
  float: left;
  margin: 0 0.5em 0.5em;
}

.album img {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

.album p {
  width: 150px;
  height: 1.2em;
  font-size: 0.7em;
  text-align: center;
  overflow: hidden;
}

ol {
  clear: both;
  padding-left: 2em;
}

.queue {
  clear: both;
  margin-bottom: 1em;
}

.queue img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  border: 1px solid #000;
}

.queue p {
  white-space: nowrap;
  font-size: 0.7em;
}

.queue form {
  float: left;
  margin-right: 0.5em;
}

.queue form fieldset {
  margin: 0;
}

.queue form input {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
}

